
<div class="row row-eq-height" style="padding-bottom: 35px;padding-top: 35px;">
  <div class="col-md-8">
    <h2 class="yacht-blue">BoatVentures (Schedlbauer)</h2>
  </div>
  <div class="col-md-4" style="margin-top: 25px;">
    <p>8-800-555-3535
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </p>
  </div>
</div>
<div class="row">
  <ul class="nav nav-pills">
    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/yachts">Yachts</a></li>
    <li routerLinkActive="active"><a routerLink="/reservations">Reservations</a></li>
    <li routerLinkActive="active"><a routerLink="/blogs">Blog</a></li>
  </ul>
</div>