<hr>
<div class="row my-padding">
  <div class="col-md-9">
    <h2 class="yacht-blue">
      Bluefish still biting</h2>
    <p>00/00/0000</p>
    <hr>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjFiOTZiNzVlMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2MWI5NmI3NWUwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzk2ODc1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
            alt="...">
        </a>
      </div>
      <div class="media-body">
        <p>It's a bit late in the season and generally the bluefish have moved offshore by now looking for bait and cooler waters,
          but we recently got into some good action over at Wasque. The bluefish were of good size and, as always, a lot
          of fun to catch for our guests.
        </p>
        <p>
          Bluefish It's a bit late in the season and generally the bluefish have moved offshore by now looking for bait and cooler
          waters, but we recently got into some good action over at Wasque. The bluefish were of good size and, as always,
          a lot of fun to catch for our guests. Parachute jigs of varying color seemed to work best. We tried casting Romano
          plugs and hooked a few off the breakers, but much more action jigging at 2-4 knots. We did need to wait for the
          tide to turn before the bite picked up.</p>
        <p>Don't forget that the new T-Shirts are in, so pick them up in our online store or on your next charter. And let me
          know how the fish are biting for you. Fish on!</p>
      </div>
      <button type="button" class="btn btn-default btn-sm" style="margin-bottom:8px;">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
      </button>
      <button type="button" class="btn btn-default btn-sm" style="margin-bottom:8px;">
        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Retweet
      </button>
      <p>
        <em>1 comment ...</em>
      </p>
    </div>
    <hr>
  </div>

  <div class="col-md-3">
    <h3 class="yacht-blue">
      <strong>Capt. Kelly</strong>
    </h3>
    <p> Experienced charter boat captain, avid fisherman, with 20+ years of experience in luxury charters. Holds a USCG 100GT
      license.
    </p>
    <h3 class="yacht-blue">
      <strong> Archives</strong>
    </h3>

    <p>August 2014 </p>
    <h3 class="yacht-blue">
      <strong>Categories</strong>
    </h3>
    <p>All </p>
  </div>
</div>